footer {
    background-color: #e67e22;
    color: rgba(255, 255, 255, 0.8);
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    letter-spacing: 1px;
}